<section>
  <a [routerLink]="'/four-days'">See next 4 days' forecast</a>
  <div *ngIf="weather; else loading" class="weather-container">
    <h1>Weather in {{weather.name}} - {{weather.sys.country}}</h1>
    <div class="temperature"><b>{{weather.main.temp}}°</b></div>
    <img [src]="'https://openweathermap.org/img/wn/' + weather.weather[0].icon + '.png'">
    <div class="secondary-text">Feels like {{weather.main.feels_like}}°</div>
    <div class="details">
      <div class="details__item" matTooltip="Humidity">
        <span class="material-symbols-outlined"
        aria-label="Humidity">humidity_percentage</span>
        <span>{{weather.main.humidity}}</span>
      </div>
      <div class="details__item" matTooltip="Wind">
        <span class="material-symbols-outlined"
        aria-label="Wind"> air</span>
        <span>{{weather.wind.speed}}</span>
      </div>
      <div class="details__item" matTooltip="Min and Max temperature">
        <span class="material-symbols-outlined"
        aria-label="Min and Max temperature">thermometer </span>
        <span>{{weather.main.temp_min}}° - {{weather.main.temp_max}}°</span>
      </div>
    </div>
  </div>

  <ng-template #loading><app-loading-indicator></app-loading-indicator></ng-template>
</section>