<section>
  <a [routerLink]="'/'">See today's forecast</a>
  <div *ngIf="forecast; else loading">
    <h1>Next 4 days in {{forecast.city.name}} - {{forecast.city.country}}</h1>
    <ul class="days-list">
      <li *ngFor="let day of forecast.list" class="days-list__item" [class.active]="selectedDay && (day.dt_txt === selectedDay.dt_txt)" tabindex="0" (click)="daySelected(day)" (keydown.enter)="daySelected(day)" >
          <div class="date">{{day.dt_txt | date : 'dd/MM'}}</div>
          <div class="temperature"><b>{{day.main.temp}}°</b></div>
          <img [src]="'https://openweathermap.org/img/wn/' + day.weather[0].icon + '.png'">
        <p>{{day.main.temp_min}}° - {{day.main.temp_max}}°</p>
      </li>
    </ul>
    <div *ngIf="selectedDay">
      <h2>More details</h2>
      <div class="details">
        <div class="details__item" matTooltip="Humidity">
          <span class="material-symbols-outlined"
          aria-label="Humidity">humidity_percentage</span>
          <span>{{selectedDay.main.humidity}}</span>
        </div>
        <div class="details__item" matTooltip="Wind">
          <span class="material-symbols-outlined"
          aria-label="Wind"> air</span>
          <span>{{selectedDay.wind.speed}}</span>
        </div>
        <div class="details__item" matTooltip="Pressure">
          <span class="material-symbols-outlined"
          aria-label="Pressure">compress </span>
          <span>{{selectedDay.main.pressure}}</span>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading><app-loading-indicator></app-loading-indicator></ng-template>
</section>